body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

article.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
}

article.producto .producto-info {
    display: flex;
    flex-direction: column;
}

article.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.contenedor-carrito {
    text-align: center;
    margin-top: 20px;
}

.carrito {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.carrito:hover {
    transform: scale(1.02);
}

.carrito h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.lista-carrito {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-carrito li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-carrito li:last-child {
    border-bottom: none;
}

#total-carrito {
    font-weight: bold;
    margin-top: 10px;
}

#bonificacion-info {
    margin-top: 10px;
    color: #4CAF50;
}

#limpiar-carrito-button {
    background-color: #ff5555;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#limpiar-carrito-button:hover {
    background-color: #ff0000;
}

